node_modules

# Built application files
*.apk
*.aar
*.ap_
*.aab

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class


android/bin/
android/gen/
android/out/
android/.DS_Store
android/.gradle/
android/build/
android/local.properties
android/proguard/
android/*.log
android/.navigation/
android/captures/
android/*.iml
android/.idea/workspace.xml
android/.idea/tasks.xml
android/.idea/gradle.xml
android/.idea/assetWizardSettings.xml
android/.idea/dictionaries
android/.idea/libraries
android/.idea/caches
android/.idea/modules.xml
android/.idea/navEditor.xml
android/.externalNativeBuild
android/.cxx/
android/freeline.py
android/freeline/
android/freeline_project_description.json
android/fastlane/report.xml
android/fastlane/Preview.html
android/fastlane/screenshots
android/fastlane/test_output
android/fastlane/readme.md
android/vcs.xml
android/lint/intermediates/
android/lint/generated/
android/lint/outputs/
android/lint/tmp/

